<h1 style ="color : red;">Thông tin sinh viên</h1>
<h2>Phạm Anh Hoàng</h2>
<h3>2121051504</h3>
<form action="Index">
    <input type="text" name="Ho_Ten" placeholder="Nhập tên của bạn">
    <input type="submit" name="Gửi">
</form>